.icon {
    font-size: 10px;
}

.icon:before {
    content:' ';
    vertical-align:middle;
    display: inline-block;
    background-image: url("../svg/sprite.svg");
    background-repeat: no-repeat;
    background-size: 3em 27em;
}

.no-svg .icon:before {
    background-image: url("../svg/sprite.png");
}

.icon.commission:before {
    background-position: 0em 0em;
    width: 3em;
    height: 3em;
}

.icon.ebay:before {
    background-position: 0em -3em;
    width: 3em;
    height: 3em;
}

.icon.email:before {
    background-position: 0em -6em;
    width: 3em;
    height: 3em;
}

.icon.etsy:before {
    background-position: 0em -9em;
    width: 3em;
    height: 3em;
}

.icon.facebook:before {
    background-position: 0em -12em;
    width: 3em;
    height: 3em;
}

.icon.flickr:before {
    background-position: 0em -15em;
    width: 3em;
    height: 3em;
}

.icon.instagram:before {
    background-position: 0em -18em;
    width: 3em;
    height: 3em;
}

.icon.twitter:before {
    background-position: 0em -21em;
    width: 3em;
    height: 3em;
}

.icon.website:before {
    background-position: 0em -24em;
    width: 3em;
    height: 3em;
}

